{% extends 'home-page.html' %}

{% block main %}

<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
      <div class="row">
          <div class="col-12 text-center">
              <h4>Order Summary</h4>
              <div class="table-responsive text-nowrap">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Item Title</th>
                      <th scope="col">Price</th>
                      <th scope="col">Qty.</th>
                      <th scope="col">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for order_item in object.items.all %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ order_item.item.title }}</td>
                      <td>${{ order_item.item.price }}</td>
                      <td>
                          <a href="{% url 'remove-single-item-from-cart' order_item.item.slug%}"><i class="fas fa-minus mr-2"></i></a>
                          {{ order_item.quantity }}
                          <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                      <td>
                      {% if order_item.item.discount_price %}
                        ${{ order_item.get_total_discount_item_price }}
                      {% else %}
                        ${{ order_item.get_total_item_price }}
                      {% endif %}
                        <a href="{% url 'remove-from-cart' order_item.item.slug %}">
                          <i class="far fa-trash-alt float-right"></i>
                        </a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Your cart is empty</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                      {% if object.get_total %}
                      <tr>
                          <td colspan="4" class="text-left"><strong>TOTAL:</strong></td>
                          <td><strong>${{ object.get_total }}</strong></td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td colspan="5" class="text-right">
                              <a href="{% url 'home' %}" class="btn btn-warning mr-4">Continue Shopping</a>
                              <a href="{% url 'checkout' %}" class="btn btn-success">Proceed to checkout</a>
                          </td>
                      </tr>
                  </tfoot>
                </table>

              </div>
          </div>
      </div>
  </div>
</main>



{% endblock %}
