{% extends 'home-page.html' %}

{% block main %}
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

    <!-- Heading -->
        <h2 class="my-5 h2 text-center">Thank you for your order!</h2>

        <!--Grid row-->
        <div class="row">
            <div class="col-12 text-center">
                <p>We have received your order and started packing. Espect hearing from us soon.</p>
                <hr/>
                <p class="float-right"><em>Regards, JDE Team</em></p>
            </div>
        </div>
    <!--Grid row-->

    </div>
</main>
{% endblock main %}
